root = true

# 모든 파일 기본값
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Java Gradle 4칸 들여쓰기
[*.{java,gradle,groovy}]
indent_size = 4

# Spring Boot 설정 파일
[*.{yml,yaml,properties}]
indent_size = 2

# 줄끝 공백 보존 필요
[*.md]
trim_trailing_whitespace = false
